
body {
    /*Main background image.*/
    background-image: linear-gradient(to bottom right, black, rgb(40,40,40), rgb(40,20,20), black);
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

/*Basic generic styling form the site*/
p {
    color: lightgray;
}

h1 {
    font-family: Bahnschrift, fantasy;
    color: lightgray;
    text-align: center;
}

h2 {
    color: lightgray;
    text-align: center;
}

h3 {
    color: lightgray;
    text-align: center;
}

div {
    color: lightgray;
}

hr {
    height: 4px;
    border: 0;
    background-image: linear-gradient(to right, transparent, rgba(80,0,0,.5), rgba(255,0,0,.5), rgba(80,0,0,.5),transparent)
}

/*Footers*/

.footer {
    padding-left: 16px;
    padding-bottom: 16px;
    font-size: 12px;
}


/*Styling for the main header and links.*/

.container {
    position: relative;
    text-align: center;
}

#Site_Header {
    padding: 0;
    margin: 0px;
    background: -webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.0))
}

    #Site_Header > div {
        padding: 24px;
        margin: 0px;
    }

    #Site_Header div > #Title_Name {
        text-align: center;
        font-family: Arial;
        font-style: italic;
        font-weight: bold;
        font-size: 40px;
        z-index: 1;
        background: -webkit-linear-gradient(black,white,black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(0,0,0);
    }

    #Site_Header > div > img {
        width: 100vw;
        height: 40px;
        border: none;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

 



/*-----------------------------------------------------------------*/

#main_content {
    font-size: 2vw;
}


@media screen and (max-width: 1024px) {

    #Site_Header > div > #Title_Name {
        text-align: center;
        font-family: Arial;
        font-style: italic;
        font-weight: bold;
        font-size: 4vw;
        color: white;
        z-index: 1;
        background: -webkit-linear-gradient(black,white,black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(0,0,0);
    }

    #Site_Header > table {
        padding-top: 0;
    }

    #main_content {
        font-size: 3vw;
        padding: 0;

    }

    canvas {
        padding-top:1vw;
        width:4vw;
        height:4vw
    }

    .link {
        font-size: 20px;
        grid-template-areas: 'link2 link3 link3 link4' 'link1 link1 link5 link5';
    }

    .material-icons {
        font-size: 20px;
    }
}

/*Media queries for printing*/
@media screen and (max-width: 500px) {

    #Site_Header > div > #Title_Name {
        text-align: center;
        font-family: Arial;
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
        color: white;
        z-index: 1;
        background: -webkit-linear-gradient(black,white,black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(0,0,0);
    }

    .link {
        font-size: 16px;
    }
    .material-icons {
        font-size: 16px;
    }


}


    @media print {

        #main_content {
            font-size: 16px;
            padding: 0;
        }

        .no_print {
            display: none !important;
        }

        .print_footer {
            display: initial;
            border: 1px dashed black;
        }
    }



